[
  {
    "name": "Division by zero",
    "files": ["main.c"],
    "main": "division_by_zero"
  },
  {
    "name": "Division overflow",
    "files": ["main.c"],
    "main": "division_overflow"
  },
  {
    "name": "Signed overflow",
    "files": ["main.c"],
    "main": "signed_overflow"
  },
  {
    "name": "Division by zero",
    "files": ["main.c"],
    "main": "division_by_zero",
    "raw_options": { "-no-results": "true" }
  },
  {
    "name": "Division overflow",
    "files": ["main.c"],
    "main": "division_overflow",
    "raw_options": { "-no-results": "true" }
  },
  {
    "name": "Signed overflow",
    "files": ["main.c"],
    "main": "signed_overflow",
    "raw_options": { "-no-results": "true" }
  }
]


